spring:

  application:
    name: libraryapi
  datasource:
    url: jdbc:postgresql://localhost:5432/library
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    format_sql: true
    use_sql_comments: true
  logging:
    level:
      org.hibernate.orm.jdbc.bind: TRACE